// helpers
@import 'helpers/reset'
@import 'helpers/mixins'


// common
@import 'common/sprite'
@import 'common/variables'
@import 'common/base'
@import 'common/fonts'

// blocks
@import 'blocks/wrapper'
@import 'blocks/bxslider'
@import 'blocks/elements'
@import 'blocks/hero-slider'
@import 'blocks/catalog'
@import 'blocks/comments'
@import 'blocks/section'
@import 'blocks/contact-us'
@import 'blocks/advantages'
@import 'blocks/product'
@import 'blocks/select2'
@import 'blocks/reviews'
@import 'blocks/header'
@import 'blocks/footer'
