.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover
  background transparent

.bx-wrapper
  box-shadow none
  background transparent
  border none
  margin-bottom 0

  .bx-pager
    bottom 0px

    &.bx-default-pager a
      display inline-block
      vertical-align middle
      border-radius 50%
      width 14px
      height 14px
      background transparent
      box-sizing border-box
      border 1px solid #fff
      transition all .2s

      &:hover
        background #fff

    &.bx-default-pager a.active
      background-image: -webkit-linear-gradient(#FBDA61 0%, #F76B1C 100%)
      background-image: -o-linear-gradient(#FBDA61 0%, #F76B1C 100%)
      background-image: linear-gradient(#FBDA61 0%, #F76B1C 100%)
      border none

.-black-slider .bx-wrapper .bx-pager
  bottom -40px
  left 0
  width 100%
  text-align center

  &.bx-default-pager a
    border 1px solid #000

    &:hover
      background #000

  &.bx-default-pager a.active
    border none

.bx-controls
  width 1230px
  margin 0 auto
  padding 0 30px
  box-sizing border-box

  .bx-pager
    width auto
    position absolute
    bottom 82px

.exhibition
  background url('../images/content/bg2.jpg')
  background-size cover
  background-attachment fixed

.exhibition-content
  padding 72px 0
  clearfix()

  .headline
    font-family 'PT Sans'
    font-size 50px
    font-weight bold
    color #fff
    line-height 48px

  .description
    font-family 'PT Sans'
    font-size 28px
    color $orange
    padding-bottom 24px

  .text
    font-size 16px
    line-height 24px
    padding-bottom 24px
    color #fff

  .content
    width 480px
    float left

  .images
    width 540px
    float right
    font-size 0
    margin-right -10px

    .image
      width 50%
      float left
      width 270px
      height 270px

      img
        display inline-block

      &.-big
        img
          width calc(100% - 20px)
          margin 10px

      &.-multiply
        img
          width calc(50% - 20px)
          margin 10px

.image .bx-wrapper
  img
    max-width 100%

  .img
    height 360px
    overflow hidden

    img
      position absolute
      top 50%
      transform translate(0, -50%)
