.comments
  margin-bottom 80px

  h2.headline,
  .comment-reply-title
    font-size 24px
    line-height 60px
    font-weight 600
    border-bottom 1px solid $orange
    margin-bottom 42px

  .review .header
    padding 8px 30px

    .author,
    .comment-date
      line-height 30px

  .comment-notes
    display none

  .comment-form
    border-radius 5px
    box-shadow 0 0 4px rgba(0,0,0,.13)
    width 960px
    padding 20px 24px
    box-sizing border-box
    margin 0 auto

.comments-list,
.comment-list
  .review,
  .comment-body
    display inline-block
    vertical-align top
    width 730px

  li
    padding-bottom 32px

  li:nth-child(odd)
    &:before
      content ''
      display inline-block
      vertical-align top
      background url('../images/content/avatar.png')
      width 140px
      height 140px
      background-size 140px
      margin-top 30px
      margin-right 60px
      transform scaleX(-1)

  li:nth-child(even)
    padding-left 230px

    &:after
      content ''
      display inline-block
      vertical-align top
      background url('../images/content/avatar.png')
      width 140px
      height 140px
      background-size 140px
      margin-top 30px
      margin-left 60px
