.contact-us
  background url('../images/content/bg3.jpg')
  background-attachment fixed
  background-size cover
  color #fff
  padding 70px 0

  .base-col
    position relative
    clearfix()

  .content
    width 620px
    float left
    font-size 16px
    line-height 25px

    .headline
      font-family 'PT Sans'
      font-size 50px
      line-height 48px
      font-weight 600
      padding-bottom 10px

    .description
      font-family 'PT Sans'
      font-size 28px
      color $orange
      padding-bottom 40px

    textarea
      height 100px

  .image
    float right

    img
      position absolute
      right 0
      bottom -70px

.form
  font-size 0

  .label
    display inline-block
    padding-bottom 40px
    font-size 14px
    width calc(100% - 20px)

    &.-half
      width calc(50% - 20px)
      padding-right 20px

    .title
      display block
      font-size 14px

    textarea.input
      resize none

    .input
      width 100%
      font-size 16px
      line-height 36px
      padding-bottom 4px

      +placeholder()
        color rgba(255,255,255,.4)

      &:focus
        +placeholder()
          opacity 0

  &.-dark
    .input
      background transparent
      border none
      border-bottom 1px solid #BCBCBC
      color #fff

      &:focus
        border-color $orange
