.btn
  display inline-block
  font-size 18px
  letter-spacing .25px
  padding 15px 40px
  border-radius 30px
  text-decoration none

  &.violet
    background $violet
    color $white

  &.book
    &:before
      content ''
      display inline-block
      vertical-align middle
      sprite($s-book)
      transform translate(-12px, -1px)

  &.default
    font-size 18px
    font-weight 500
    padding 15px 32px

  &.white
    background $white


.link
  color $violet
  text-decoration none
  transition color .2s

  &:hover
    color $red
