.announce
  background $yellow
  height 60px
  line-height 60px
  letter-spacing -.25px
  box-sizing border-box
  text-align center
  font-weight 300

  .emoji
    width 32px
    display inline-block
    vertical-align middle
    position relative
    top -3px
    margin-right 12px

.header
  position relative

  h1.headline
    font-size 200px
    line-height 200px
    margin-top 128px
    margin-bottom 60px
    color $violet
    font-family 'Helvetica Rounded'
    text-align center
    position relative

    .name
      position relative

      &:after
        content ''
        display block
        position absolute
        top -5px
        right 34px
        sprite($s-skate)

    span.count
      position absolute
      right -64px
      top -42px
      font-size 42px
      display block
      width 76px
      height 76px
      line-height 86px
      background $red
      color $white
      border-radius 50%

@media (max-width 1100px)
  .header
    h1.headline
      font-size 190px
      margin-top 90px
      margin-bottom 40px

@media (max-width 1000px)
  .header
    h1.headline
      font-size 140px
      margin-top 50px
      margin-bottom 0

      span.count
        width 52px
        height 52px
        right -44px
        top -26px
        font-size 29px
        line-height 60px

@media (max-width 720px)
  .announce
    height auto
    line-height 20px
    padding 20px 10px

    .emoji
      display none

  .header
    position relative

    h1.headline
      font-size 60px
      line-height 66px

      .name:after
        transform scale(.32)
        top -30px
        right -28px

      span.count
        width 23px
        height 23px
        font-size 13px
        line-height 26px
        right -16px
        top -13px
