.cd-hero
  position relative
  overflow hidden
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.cd-hero-slider
  position relative
  overflow hidden

  li
    position absolute
    top 0
    left 0
    width 100%
    height 100vh !important
    min-height: 700px;
    max-height: 900px;
    -webkit-transform translateX(100%)
    -moz-transform translateX(100%)
    -ms-transform translateX(100%)
    -o-transform translateX(100%)
    transform translateX(100%)
    background-position center center
    background-size cover
    background-repeat no-repeat

    &.selected
      position relative
      -webkit-transform translateX(0)
      -moz-transform translateX(0)
      -ms-transform translateX(0)
      -o-transform translateX(0)
      transform translateX(0)

    &.move-left
      -webkit-transform translateX(-100%)
      -moz-transform translateX(-100%)
      -ms-transform translateX(-100%)
      -o-transform translateX(-100%)
      transform translateX(-100%)

  .cd-img-container
      display none
      img
          position absolute
          left 50%
          top 50%
          bottom auto
          right auto
          -webkit-transform translateX(-50%) translateY(-50%)
          -moz-transform translateX(-50%) translateY(-50%)
          -ms-transform translateX(-50%) translateY(-50%)
          -o-transform translateX(-50%) translateY(-50%)
          transform translateX(-50%) translateY(-50%)
  .cd-bg-video-wrapper
      display none
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      overflow hidden
      video
          display block
          min-height 100%
          min-width 100%
          max-width none
          height auto
          width auto
          position absolute
          left 50%
          top 50%
          bottom auto
          right auto
          -webkit-transform translateX(-50%) translateY(-50%)
          -moz-transform translateX(-50%) translateY(-50%)
          -ms-transform translateX(-50%) translateY(-50%)
          -o-transform translateX(-50%) translateY(-50%)
          transform translateX(-50%) translateY(-50%)

.cd-hero-slider li.is-moving, .cd-hero-slider li.selected
    -webkit-transition -webkit-transform 0.5s
    -moz-transition -moz-transform 0.5s
    transition transform 0.5s

.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width
    width 100%
    height 100%
    z-index 3
    left 0
    top 0
    text-align center
    -webkit-backface-visibility hidden
    backface-visibility hidden
    -webkit-transform translateZ(0)
    -moz-transform translateZ(0)
    -ms-transform translateZ(0)
    -o-transform translateZ(0)
    transform translateZ(0)

.cd-hero-slider .cd-full-width
  position relative
  z-index 3
  max-width 1230px
  padding 0 30px
  box-sizing border-box
  margin 0 auto !important


@media only screen and (min-width: 768px)
    .cd-hero-slider
        li
            &:nth-of-type(2)
                background-image none
            &:nth-of-type(3)
                background-image none
            &:nth-of-type(4)
                background-image none
        .cd-bg-video-wrapper
            display block
        .cd-half-width
            width 45%
            &:first-of-type
                left 5%
            &:nth-of-type(2)
                right 5%
                left auto
        .cd-img-container
            display block

@media only screen and (min-width: 768px)
    .cd-hero-slider
        .cd-half-width
            opacity 0
            -webkit-transform translateX(40px)
            -moz-transform translateX(40px)
            -ms-transform translateX(40px)
            -o-transform translateX(40px)
            transform translateX(40px)
        .move-left
            .cd-half-width
                -webkit-transform translateX(-40px)
                -moz-transform translateX(-40px)
                -ms-transform translateX(-40px)
                -o-transform translateX(-40px)
                transform translateX(-40px)
        .selected
            .cd-half-width
                opacity 1
                -webkit-transform translateX(0)
                -moz-transform translateX(0)
                -ms-transform translateX(0)
                -o-transform translateX(0)
                transform translateX(0)
        .is-moving
            .cd-half-width
                -webkit-transition opacity 0s 0.5s, -webkit-transform 0s 0.5s
                -moz-transition opacity 0s 0.5s, -moz-transform 0s 0.5s
                transition opacity 0s 0.5s, transform 0s 0.5s
        li
            &.selected
                h2
                    // -webkit-transition opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s
                    // -moz-transition opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s
                    // transition opacity 0.4s 0.2s, transform 0.5s 0.2s
                p
                    // -webkit-transition opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s
                    // -moz-transition opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s
                    // transition opacity 0.4s 0.3s, transform 0.5s 0.3s
                .cd-btn
                    -webkit-transition opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s
                    -moz-transition opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s
                    transition opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s

.cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
  .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type
    -webkit-transition opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s
    -moz-transition opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s
    transition opacity 0.4s 0.2s, transform 0.5s 0.2s

@media only screen and (min-width: 768px)
  .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type
    -webkit-transition opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s
    -moz-transition opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s
    transition opacity 0.4s 0.2s, transform 0.5s 0.2s

.cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
  .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2)
    -webkit-transition opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s
    -moz-transition opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s
    transition opacity 0.4s 0.4s, transform 0.5s 0.4s

@media only screen and (min-width: 768px)
  .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2)
    -webkit-transition opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s
    -moz-transition opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s
    transition opacity 0.4s 0.4s, transform 0.5s 0.4s

.cd-hero-slider .cd-full-width h2,
.cd-hero-slider .cd-full-width p
  .cd-hero-slider .cd-full-width .cd-btn
    opacity 0
    -webkit-transform translateX(100px)
    -moz-transform translateX(100px)
    -ms-transform translateX(100px)
    -o-transform translateX(100px)
    transform translateX(100px)

@media only screen and (min-width: 768px)
  .cd-hero-slider .cd-full-width .cd-btn
    opacity 0
    -webkit-transform translateX(100px)
    -moz-transform translateX(100px)
    -ms-transform translateX(100px)
    -o-transform translateX(100px)
    transform translateX(100px)

.cd-hero-slider .move-left .cd-full-width h2,
.cd-hero-slider .move-left .cd-full-width p
  .cd-hero-slider .move-left .cd-full-width .cd-btn
    opacity 0
    -webkit-transform translateX(-100px)
    -moz-transform translateX(-100px)
    -ms-transform translateX(-100px)
    -o-transform translateX(-100px)
    transform translateX(-100px)

@media only screen and (min-width: 768px)
  .cd-hero-slider .move-left .cd-full-width .cd-btn
    opacity 0
    -webkit-transform translateX(-100px)
    -moz-transform translateX(-100px)
    -ms-transform translateX(-100px)
    -o-transform translateX(-100px)
    transform translateX(-100px)

.cd-hero-slider .selected .cd-full-width h2,
.cd-hero-slider .selected .cd-full-width p
  .cd-hero-slider .selected .cd-full-width .cd-btn
    opacity 1
    -webkit-transform translateX(0)
    -moz-transform translateX(0)
    -ms-transform translateX(0)
    -o-transform translateX(0)
    transform translateX(0)

@media only screen and (min-width: 768px)
  .cd-hero-slider .selected .cd-full-width .cd-btn
    opacity 1
    -webkit-transform translateX(0)
    -moz-transform translateX(0)
    -ms-transform translateX(0)
    -o-transform translateX(0)
    transform translateX(0)

.cd-hero-slider li.is-moving .cd-full-width h2,
.cd-hero-slider li.is-moving .cd-full-width p
  .cd-hero-slider li.is-moving .cd-full-width .cd-btn
    -webkit-transition opacity 0s 0.5s, -webkit-transform 0s 0.5s
    -moz-transition opacity 0s 0.5s, -moz-transform 0s 0.5s
    transition opacity 0s 0.5s, transform 0s 0.5s

@media only screen and (min-width: 768px)
  .cd-hero-slider li.is-moving .cd-full-width .cd-btn
    -webkit-transition opacity 0s 0.5s, -webkit-transform 0s 0.5s
    -moz-transition opacity 0s 0.5s, -moz-transform 0s 0.5s
    transition opacity 0s 0.5s, transform 0s 0.5s

.cd-main-content
    width 90%
    max-width 768px
    margin 0 auto
    padding 2em 0
    p
        font-size 1.4rem
        line-height 1.8
        color #999999
        margin 2em 0

@media only screen and (min-width: 1170px)
    .cd-main-content
        padding 3em 0
        p
            font-size 1.6rem

.no-js
    .cd-hero-slider
        li
            display none
            &.selected
                display block
    .cd-slider-nav
        display none


// ==============================================
// Slider overwrite
// ==============================================

.cd-hero-slider
  width 100%
  height 100%
  min-height 700px
  max-height 900px

.cd-hero
  position relative
  width 100%
  top -60px
  margin-bottom -72px

.cd-header
  position absolute
  z-index 2
  top 0
  left 0
  width 100%

.cd-slider-nav
  position relative
  left 30px
  max-width 1230px
  margin 0 auto
  width 100%
  bottom 120px
  z-index 2
  font-size 0

  li
    display inline-block
    opacity 1
    transition opacity .15s
    margin 0 5px

    &.selected
      a
        background-image: -webkit-linear-gradient(#FBDA61 0%, #F76B1C 100%)
        background-image: -o-linear-gradient(#FBDA61 0%, #F76B1C 100%)
        background-image: linear-gradient(#FBDA61 0%, #F76B1C 100%)
        border none

        &:hover
          opacity 1

  a
    display inline-block
    border-radius 50%
    width 14px
    height 14px
    background transparent
    box-sizing border-box
    border 1px solid #fff
    transition background .15s

    &:hover
      background #fff


.cd-hero-slider
  li
    background-color #666
    background-size cover

    &:before
      content ''
      display block
      position absolute
      z-index 2
      top 0
      left 0
      width 100%
      height 100%
      // background rgba(0,0,0,.75)

    &.-lighter:before
      background rgba(0,0,0,.5)

.cd-hero-slider li.selected
  .slider-content
    .slider-top-description,
    .slider-headline,
    .slider-btn
      transform translate3d(0,0,0)
      opacity 1

    .slider-description
      transform translate3d(0,0,0)
      opacity 1

.slider-content
  width 100%
  max-width 700px
  position absolute
  text-align left
  top 50%
  left 30px
  transform translate(0, -50%)
  // opacity 0
  // transition transform .4s cubic-bezier(0.460, 0.120, 0.110, 0.975), opacity .4s cubic-bezier(0.460, 0.120, 0.110, 0.975);
  // transition-delay .5s
  box-sizing border-box

  .slider-top-description
    display inline-block
    color $orange
    text-shadow 0 1px 1px rgba(0,0,0,.3)
    font-size 34px
    padding-bottom 8px
    font-family 'PT Sans'
    font-weight regular

    will-change transform
    transform translate3d(0, 40px, 0)
    opacity 0
    transition transform .45s cubic-bezier(0.460, 0.120, 0.110, 0.975), opacity .45s cubic-bezier(0.460, 0.120, 0.110, 0.975);
    transition-delay .5s

    b
      font-weight 600

  .slider-headline
    color #fff
    font-size 90px
    line-height 64px
    font-family 'PT Sans'
    font-weight bold

    will-change transform
    transform translate3d(0, 50px, 0)
    opacity 0
    transition transform .4s cubic-bezier(0.460, 0.120, 0.110, 0.975), opacity .4s cubic-bezier(0.460, 0.120, 0.110, 0.975);
    transition-delay .45s

    b
      font-weight 600

  .slider-description
    width 500px
    color #fff
    font-size 16px
    line-height 24px
    padding-bottom 30px
    font-family 'Open Sans'
    font-weight regular

    will-change transform
    transform translate3d(0, 40px, 0)
    opacity 0
    transition transform .5s cubic-bezier(0.460, 0.120, 0.110, 0.975), opacity .5s cubic-bezier(0.460, 0.120, 0.110, 0.975);
    transition-delay .55s

  .slider-btn
    will-change transform
    transform translate3d(0, 40px, 0)
    opacity 0
    transition transform .55s cubic-bezier(0.460, 0.120, 0.110, 0.975), opacity .55s cubic-bezier(0.460, 0.120, 0.110, 0.975);
    transition-delay .6s
