.wrapper
  margin 0 auto
  width 100%
  max-width 1440px
  min-width 1230px
  box-shadow 0 0 6px rgba(0,0,0,0.5)

.base-col
  width 100%
  max-width 1230px
  padding 0 30px
  margin 0 auto
  box-sizing border-box
